<div id="rpx-panel" class="rpx-panel">
    <div class="rpx-panel-header">
        <span class="rpx-panel-title"><i class="fa-solid fa-compass"></i> RP Explorer</span>
        <div class="rpx-panel-header-actions">
            <button class="rpx-btn rpx-btn-primary rpx-update-now" type="button">
                <i class="fa-solid fa-rotate"></i> Update
            </button>
            <button class="rpx-icon-btn rpx-close" type="button" title="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>

    <div class="rpx-tabs">
        <button class="rpx-tab rpx-active" data-tab="gallery" type="button">
            <i class="fa-solid fa-users"></i> Gallery
        </button>
        <button class="rpx-tab" data-tab="diary" type="button">
            <i class="fa-solid fa-book"></i> Diary
        </button>
        <button class="rpx-tab" data-tab="logs" type="button">
            <i class="fa-solid fa-terminal"></i> Logs
        </button>
    </div>

    <div class="rpx-tab-body">
        <!-- Tab content rendered by gallery.js / diary.js -->
    </div>
</div>
